name: LuaChina

on:
  push:
    branches:
    - master

env:
  TKE_DOCKER_HUB: ccr.ccs.tencentyun.com
  TKE_IMAGE_URL: ccr.ccs.tencentyun.com/hejunwei/lua-china

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Deploy
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'

    - name: Change env.lua
      run: cp env.example.json env.json

    - name: Install dependencies
      run: npm install

    - name: Build Nuxt app
      run: npm run build
    
    - name: Verify problematic file exists
      run: find .nuxt/dist/client -name "*.js"

    - name: Deploy static assets to Tencent Cloud COS
      uses: TencentCloud/cos-action@v1
      with:
        secret_id: ${{ secrets.TENCENT_CLOUD_SECRET_ID }}
        secret_key: ${{ secrets.TENCENT_CLOUD_SECRET_KEY }}
        cos_bucket: lua-china-1256147061
        cos_region: ap-chengdu
        local_path: .nuxt/dist/client
        remote_path: /_nuxt
        clean: false

    - name: Export Date Env
      id: CURRENT_DATE
      run: echo "::set-output name=date::$(TZ=Asia/Shanghai date +'%Y-%m-%d-%H-%M-%S')"

    - name: Build the Docker image
      run: docker build -t ${TKE_IMAGE_URL}:${{steps.CURRENT_DATE.outputs.date}} .

    - name: Login TKE Registry
      run: |
        docker login ${TKE_DOCKER_HUB} --username="${{secrets.TENCENT_CLOUD_ACCOUNT_ID}}" -p "${{ secrets.TKE_REGISTRY_PASSWORD }}"

    - name: Push docker image
      run: |
        docker push ${TKE_IMAGE_URL}:${{steps.CURRENT_DATE.outputs.date}}